* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.barra {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    background-color: #E68C34;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo img {
    max-height: 40px; 
    margin-left: 16px;
}

.navbar ul li {
    display: inline;
    margin-right: 10px;
}

.navbar ul li a {
    padding: 20px 20px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

.navbar ul li a:hover {
    background-color: #db7815;
}

.principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 92vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/foto_hotel.jpg) no-repeat center / cover;
}

.titulo-principal {
    margin-bottom: 40px;
    font-size: 100px;
    font-weight: 600;
    font-family: 'Cambria', Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #fff;
    text-align: center;
}

.principal p {
    margin-bottom: 40px;
    font-size: 30px;
    font-family: 'Bitter', serif;
    color: #fff;
    padding: 0 100px;
    text-align: center;
}

.boton-home,
.boton-seccion,
.boton-exclusivo {
    padding: 10px 40px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    margin-top: 40px;
    border-radius: 5px;
}

.boton-home {
    background: #293d54;
}

.boton-home:hover,
.boton-seccion:hover,
.boton-exclusivo:hover {
    background: #E68C34;
}

.boton-seccion {
    background: #E68C34;
}

.boton-exclusivo {
    background: #E68C34;
}

.titulo-primeraseccion {
    background-color: #415d7e;
    padding: 40px;
    margin: 40px;
}

.titulo-primeraseccion h3 {
    font-size: 40px;
    color: #fff;
    font-family: 'Cambria', Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 10px;
    text-align: center;
}

.titulo-primeraseccion p {
    font-size: 24px;
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.alojamientos-destacados {
    text-align: center;
    background-color: #293d54;
    padding: 120px 60px;
}

.contenido-alojamientos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 80px;
}

.texto-alojamientos h4 {
    text-align: center;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #fff;
    padding: 100px 0px 20px 0px;
}

.texto-alojamientos hr {
    margin-bottom: 40px;
    border: none; 
    height: 2px; 
    background-color: #E68C34;
}

.hotel {
    flex: 0 1 30%;
    text-align: center;
    background-color: #415d7e;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.hotel:hover {
    transform: scale(1.05);
}

.hotel img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.hotel a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 15px;
}

.hotel a:hover {
    background-color: #E68C34;
    border-radius: 0 0 10px 10px;
}

.exclusivo {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/ofertas.jpg) no-repeat center / cover fixed;
    text-align: center;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exclusivo p {
    font-size: 40px;
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.img-texto {
    padding: 40px;
}

.img-texto .titulo {
    margin-bottom: 40px;
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #fff;
}

.img-texto p {
    margin-bottom: 40px;
    font-size: 18px;
}

.extra {
    background: #415d7e;
    height: 30rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.extra .titulo {
    margin-bottom: 20px;
    font-size: 60px;
    font-weight: 600;
}

.extra p {
    font-size: 18px;
    padding: 0 100px;
    text-align: center;
}

.informacion-container {
    padding: 40px;
    background-color: #415d7e;
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.seccion {
    margin-bottom: 40px;
    background-color: #293d54;
}

.contenido-container {
    display: flex;
    align-items: center;
}

.contenido-container.inverso {
    flex-direction: row-reverse;
}

.imagen {
    width: 50%;
    height: auto;
}

.texto {
    font-size: 15px;
    margin: 20px;
    width: 50%;
}

.titulo {
    font-size: 40px;
    margin-bottom: 10px;
}

.contenido {
    font-size: 16px;
    line-height: 1.5;
}

.contenedor-contacto {
    position: relative;
    padding: 50px 0;
    background: linear-gradient(rgba(33, 62, 96, 0.5), rgba(33, 62, 96, 0.5)), url(../img/foto_contacto.jpg) no-repeat center / cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .contenedor-formulario {
    position: relative;
    z-index: 2;
    max-width: 600px;
    width: 100%;
    padding: 20px;
    background-color: #f4f2f2;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-left: 40%; 
  }
  
  .contenedor-formulario h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
    color: #393942;
    text-align: center;
  }
  
  .contenido-form {
    margin-bottom: 20px;
  }
  
  .contenido-form label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    color: #393942;
  }
  
  .contenido-form input,
  .contenido-form textarea {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #393942;
    border-radius: 4px;
  }
  
  .contenido-form textarea {
    resize: vertical;
  }
  
  .contenido-form button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #E68C34;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .contenido-form button:hover {
    background-color: #293d54;
  }
  
  .contenedor-masinfo {
    position: absolute;
    margin-top: 80px;
    height: 60%;
    width: 100%;
    background-color: rgba(33, 62, 96, 0.9);
    color: #fff;
    text-align: center;
    z-index: 1;
  }



.admin-background {
    padding: 100px;
    background: linear-gradient(rgba(33, 62, 96, 0.6), rgba(33, 62, 96, 0.6)), url(../img/foto_admin.jpg) no-repeat center / cover;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.admin-contenedor {
    background-color: #415d7e;
    padding: 20px;
    border-radius: 5px;
}
  
  .admin-titulo {
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
  }
  
  .admin-boton {
    display: block;
    width: 100%;
    max-width: 40%;
    margin: 20px auto;
    padding: 22px 22px;
    font-size: 18px;
    color: #fff;
    background-color: #1a2b3e;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .admin-boton:hover {
    background-color: #E68C34;
  }
  
  .volver-boton {
    margin-top: 20px;
    background-color: #E68C34;
  }
  
  .volver-boton:hover {
    background-color: #293d54;
  }

.tipos-alojamiento {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tipos-alojamiento h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.tipos-alojamiento form {
    margin-bottom: 20px;
}

.tipos-alojamiento form label {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
    color: #555;
}

.tipos-alojamiento form input[type='text'] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 4px;
}

.tipos-alojamiento form button {
    margin-top: 20px;
    padding: 12px 24px;
    font-size: 16px;
    color: #ffffff;
    background-color: #293d54;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tipos-alojamiento form button:hover {
    background-color: #415d7e;
}

.tipos-alojamiento ul {
    list-style-type: none;
    padding: 0;
}

.tipos-alojamiento ul li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tipos-alojamiento ul li input[type='text'] {
    width: 60%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.tipos-alojamiento ul li button {
    padding: 8px 16px;
    font-size: 14px;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #293d54;
    transition: 0.3s;
    margin-left: 10px;
}

.tipos-alojamiento ul li button:hover {
    background-color: #E68C34;
}

.tipos-servicios {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tipos-servicios h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.tipos-servicios form {
    margin-bottom: 20px;
}

.tipos-servicios form label {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
    color: #555;
}

.tipos-servicios form input[type='text'] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.tipos-servicios form button {
    padding: 12px 24px;
    font-size: 16px;
    color: #fff;
    background-color: #293d54;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.tipos-servicios form button:hover {
    background-color: #E68C34;
}

.tipos-servicios ul {
    list-style-type: none;
    padding: 0;
}

.tipos-servicios ul li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tipos-servicios ul li input[type='text'] {
    width: 60%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.tipos-servicios ul li button {
    padding: 8px 16px;
    font-size: 14px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #E68C34;
    transition: 0.3s;
    margin-right: 10px;
}

.tipos-servicios ul li button:hover {
    background-color: #6c757d;
}

.form-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container form div {
    margin-bottom: 15px;
}

.form-container form label {
    font-size: 18px;
    color: #555;
    margin-bottom: 8px;
}

.form-container form select,
.form-container form input[type='text'] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contenedores-formularios {
    background-color: #415d7e;
    padding: 60px;
}

.form-container {
    max-width: 600px;
    margin: 80px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container form div {
    margin-bottom: 15px;
}

.form-container form label {
    font-size: 18px;
    color: #555;
    margin-bottom: 8px;
}

.form-container form input,
.form-container form textarea,
.form-container form select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-container form button {
    padding: 12px 24px;
    font-size: 16px;
    color: #fff;
    background-color: #E68C34;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-container form button:hover {
    background-color: #293d54;
}

.filtro {
    background-color: #fff;
    margin-right: 108px;
    margin-left: 108px;
}

.filtro input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 10px;
    width: 200px;
}

.filtro label {
    color: #182029;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 10px;
}
  
.container-table {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%; 
  }
  
  .table {
    width: 80%; 
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #fff;
  }
  
  .table th, .table td {
    border: 1px solid #182029;
    padding: 8px;
    color: #182029;
  }

  .table th {
    color: #fff;
  }

  .table thead {
    background-color: #293d54;
    color: #fff;
  }
  
  .table .table-row {
    background-color: #ffffff;
  }
  
  .table .table-row:hover {
    background-color: #e5e5e5;
  }

.button-edit {
    background-color: #E68C34;
    color: white;
    padding: 10px 22px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    font-size: 14px;
  }
  
  .button-edit:hover {
    background-color: #293d54;
  }
  
  .button-delete {
    background-color: #E68C34; 
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    font-size: 14px;
  }
  
  .button-delete:hover {
    background-color: #293d54;
  }
  
  .formulario-edicion {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    border-radius: 5px;
  }
  
  .formulario-edicion label {
    display: block;
    margin-bottom: 10px;
  }
  
  .formulario-edicion input,
  .formulario-edicion select {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
  }
  
  .formulario-edicion button {
    background-color: #E68C34;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 20px;
  }
  
  .formulario-edicion button:hover {
    background-color: #293d54;
  }
  
  .formulario-edicion h2 {
    margin-top: 0;
  }

footer {
    background-color: #E68C34;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    bottom: 0;
}

.footer {
    max-width: 800px;
    margin: 0 auto;
}

.footer p {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.redes {
    margin-top: 10px;
}

.redes a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 16px;
}

.redes a:hover {
    text-decoration: underline;
}